<h1>Welcome to starter-pack-rails-5,
<%= @user.email %></h1>

<p>
    You have successfully signed up to starter-pack-rails-5,
    your email is: <%= @user.email %>.
    <br>
</p>
<p>
    Thanks for joining and have a greatday!
</p>