<div class="container">
<h1>Tuto</h1>

<p><%= link_to "Gem devise", "https://github.com/heartcombo/devise", target: "_blank", rel: "alternate" %></p>
<p><%= link_to "Ommiauth google video", "https://www.youtube.com/watch?v=9pD0uXLI5uE", target: "_blank", rel: "alternate" %></p>
<p><%= link_to "Gem Ommiauth", "https://github.com/zquestz/omniauth-google-oauth2", target: "_blank", rel: "alternate" %></p>
<p><%= link_to "Compte admin youtube grafikart", "https://www.youtube.com/watch?v=9To9no1HmE8", target: "_blank", rel: "alternate" %></p>
</div>